<div class="inquiry">

	<div class="under">お問い合わせフォーム</div>

	<div class="text-center">

		<%= form_for @inquiry do |f| %>

			<div class="name-field">
	    		<%= f.label :name, 'お名前' %><br />
	    		<%= f.text_field :name, :placeholder => "お名前を入力して下さい"  %>
	    		<% if @inquiry.errors.include?(:name) %>
	    			<p style="color: red;"><%= @inquiry.errors.full_messages_for(:name).first %>
	    		<% end %>
	  		</div>

	 		<div class="message-field">
				<%= f.label :message, 'お問い合わせ内容' %><br />
				<%= f.text_area :message, rows: 8, :placeholder => "お問い合わせ内容を入力して下さい", class: 'message_input' %>
				<% if @inquiry.errors.include?(:message) %>
	    			<p style="color: red;"><%= @inquiry.errors.full_messages_for(:message).first %>
	    		<% end %>
			</div>

			<%= f.submit 'お問い合わせ内容を送信する', class: 'btn btn-primary btn-lg' %>

		<% end %>
	</div>
</div>