<div class="under">
  <h1>ユーザー情報編集画面</h1>
</div>

<div class="UserEdit-form">
  <%= form_for @user do |f| %>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

      <div class="form__image">
        <%= attachment_image_tag @user, :user_image, size: "300x300", fallback: "no_image.jpg", id:"img1" %>
        <%= f.attachment_field :user_image, id:"myfile" %>
      </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

      <div class="form__user-name">
        <div class="headline"><%= f.label :ユーザー名 %></div>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form__user-introduction">
        <div class="headline"><%= f.label :introduction %></div>
        <%= f.text_area :introduction, autofocus: true, size: '20x6', wrap: 'hard',
            class: "form-control" %>
      </div>


      <div class="form__edituser-button text-center">
      <%= f.submit "Update User", class: "btn btn-primary" %>
      </div>

    </div>
  <% end %>
</div>