<div class="box-design">
	<div class="pin">
		<div class="pin-img"><%= image_tag 'pin.png', size: "50x50" %></div>
	</div>
	<div id="container">
		<div id="theTarget">
		    <div class="image1">
		    	<div class="image1__letter">
		    		Welcome to Anglers
		    	</div>
		    	<p class="image1__letter-p">
		    		〜当サイトは釣った魚の画像を投稿・閲覧できるサイトです。〜
		    	</p>
		    </div>
		    <div class="image2">
		    	<div class="image1__letter">
		    		No Fishing No Life.
		    	</div>
		    	<p class="image1__letter-p">
		    		〜釣りのない人生なんて、考えられない。〜
		    	</p>
		    </div>
		    <div class="image3">
		    	<div class="image1__letter">
		    		Life Is Mine.
		    	</div>
		    	<p class="image1__letter-p">
		    		〜人生は俺のものだ。〜
		    	</p>
			</div>
		    <div class="image4">
		    	<div class="image1__letter">
		    		I go fishing not to find myself   but to lose myself...
		    	</div>
		    	<p class="image1__letter-p">
		    		〜僕は自分を見つけるために釣りに行くのではなく、自分を失うために行くのだ。〜
		    	</p>
		    </div>
		    <div class="image5">
		    	<div class="image1__letter">
		    		When nothing is going right, Just go fishing!
		    	</div>
		    	<p class="image1__letter-p">
		    		〜「何もかもうまくいかない時は、釣りに行けば良い！」〜
		    	</p>
			</div>
		</div>
	</div>
</div>

<%= image_tag 'image3.JPG', class: "sptab-image" %>

<div class="under">投稿方法</div>

<div class="step">
	<div class="step__step1">
		<div class="step__subtitle" id="subtitle1">
			Step1. 新規会員登録/（ゲスト）ログインを行なって下さい。　▼
		</div>
		<div class="step__content1" id="content1">
			<%= image_tag 'step1.png', width: '100%', height: '150px', class: "img-responsive" %>
			<div class="step__description">
				新規会員登録がお済みで無い方は画面最上部から新規会員登録を行なって下さい。<br>
				会員登録がお済みの方はログインからサービスをご利用ください。
				<div class="step__content1--red">
					＊新規会員登録/（ゲスト）ログインを行なっていないと投稿ができません。
					尚、投稿の閲覧は可能です。
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="bar">

<div class="step">
	<div class="step__step2" >
		<div class="step__subtitle" id="subtitle2">
			Step2.『<%= link_to fishs_path do %>釣果・投稿画面一覧へ<% end %>』
			をクリック。　▼
		</div>
		<div class="step__content2" id="content2">
			<%= image_tag 'step2.png', width: '60%', class: "img-responsive center-block" %>
		</div>
	</div>
</div>

<hr class="bar">

<div class="step">
	<div class="step__step3">
		<div class="step__subtitle" id="subtitle3">
			Step3.『釣果を投稿する』ボタンを押して投稿！！　▼
		</div>
		<div class="step__content3" id="content3">
			・下記の画像の『釣果を投稿する』ボタンを押します。
			<%= image_tag 'step3.png', width: '70%', class: "img-responsive center-block" %>
			<br>
			・入力フォームが開きます。入力をして頂き『投稿する』ボタンで思い出をみんなと共有しましょう！
			<%= image_tag 'step3-2.png', width: '70%', class: "img-responsive center-block" %>
		</div>
	</div>
</div>

<div class="under">釣果・投稿画面一覧へ</div>

<div class="card">
	<div class="clip">
		<div class="clip-img"><%= image_tag 'paper-clip', size: "50x70" %></div>
	</div>
	<%= link_to fishs_path do %>
		<div class="card__image">
			<%= image_tag '3598075_3.jpg', size: '500x400' , class: "img-responsive" %>
		</div>
	<% end %>
</div>

<div class="fishindex-button">
	<%= link_to fishs_path do %>
		<div class="btn btn-primary btn-lg">釣果・投稿画面一覧へ</div>
	<% end %>
</div>