<%= render 'homes/skippr' %>

<%= render 'homes/about' %>

<%= render 'homes/how-to-post' %>

<div class="under">釣果・投稿画面一覧へ</div>

<div class="card">
	<div class="clip">
		<div class="clip-img"><%= image_tag 'paper-clip', size: "50x70" %></div>
	</div>
	<%= link_to fishs_path do %>
		<div class="card__image">
			<%= image_tag '3598075_3.jpg', size: '500x400' , class: "img-responsive" %>
		</div>
	<% end %>
</div>

<div class="fishindex-button">
	<%= link_to fishs_path do %>
		<div class="btn btn-primary btn-lg">釣果・投稿画面一覧へ</div>
	<% end %>
</div>