<% fish_comments.reverse_each do |fish_comment| %> <!-- コメント一覧 -->
  <tr>
    <td>
      <%= link_to user_path(fish_comment.user), class: "user_#{fish_comment.user.id}" do %>
        <%= attachment_image_tag fish_comment.user, :user_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
        <%= fish_comment.user.name %>
      <% end %>
    </td>
    <td><%= fish_comment.comment %></td>
    <% if fish_comment.user == current_user %>
      <td><%= link_to '削除する', fish_fish_comments_path(fish_comment), class: 'btn btn-danger', data:{confirm:"削除してもよろしいですか？"}, method: :delete, remote: true %></td>
    <% end %>
  </tr>
<% end %>