<div class="under">
	<h1>釣果一覧画面</h1>
</div>


<div class="btn-center">
	<div class="balloon">釣果の投稿はこちら！！</div>
	<div class="btn-center__square" id="button1">釣果を投稿する</div>
</div>

<div id="acMenu">
	<div class="row">
		<%= form_with model:@fish, url: {controller: 'fishs', action: 'create' } do |f| %>
			<div class="form">
				<div class="col-lg-4 col-xs-12">

					<div class="form__image">
						<%= attachment_image_tag @fish, :fish_image, size: "300x300", fallback: "no_image.jpg", id:"img1" %>
						<%= f.attachment_field :fish_image, id:"myfile" %>
					</div>

				</div>

				<div class="col-lg-4 col-xs-12">

					<div class="form__title">
						<div class="headline"><%= f.label :釣果タイトル %></div>
						<%= f.text_field :fishing_title, class: 'form-control' %>
					</div>

					<div class="form__date">
						<div class="headline"><%= f.label :釣果日時 %></div>
						<%= f.date_field :fishing_date, class: 'form-control' %>
					</div>

					<div class="form__name">
						<div class="headline"><%= f.label :魚種 %></div>
						<%= f.text_field :fish_name, class: 'form-control' %>
					</div>

					<div class="form__contents">
						<div class="headline"><%= f.label :釣果内容 %></div>
						<%= f.text_area :fishing_contents, size: '40x6', wrap: 'hard',
						class: "contents-form form-control" %>
					</div>

				</div>

				<div class="col-lg-4 col-xs-12">
					<div class="form__fish-size">
						<div class="headline"><%= f.label :サイズ %>(cm)</div>
						<%= f.number_field :fish_size, class: 'form-control', min: 1, max:200, step: '0.1' %>
					</div>
					<div class="form__fish-weight">
						<div class="headline"><%= f.label :重量 %>(kg)</div>
						<%= f.number_field :fish_weight, step: '0.1', class: 'form-control', min: 0, max: 40 %>
					</div>
					<div class="form__prefectures">
						<div class="headline"><%= f.label :都道府県 %></div>
						<%= f.select :prefectures, Fish.prefectures.keys, {} , {class: 'form-control'} %>
					</div>
					<div class="form__button text-center">
						<%= f.submit "投稿する", class: "btn btn-primary btn-lg" %>
					</div>
				</div>

			</div>
		<% end %>
	</div>
</div>

<div class="cards">
	<% @fishs.each do |fish| %>

		<div class="cards__item">
			<div class="fishpin">
				<div class="fishpin-img">
					<%= image_tag 'pina4', size: "70x70" %>
				</div>
			</div>

			<%= link_to fish_path(fish.id) do %>
				<div class="cards__image">
					<%= attachment_image_tag fish, :fish_image, fallback: "image5.JPG", size: '300x200'%>
				</div>
				<div class="cards__title">
					<i class="fas fa-fish"></i>
					<%= fish.fishing_title %>
				</div>
			<% end %>

			<div class="cards__comment">
				<i class="far fa-comment-dots"></i>
					<%= fish.fish_comments.count %>件
			</div>

			<div id="favorite_buttons_<%= fish.id %>">
					<%= render partial: 'fishs/favorite', locals: {fish: fish} %>
			</div>

			<%= link_to user_path(fish.user_id) do %>
				<div class="cards__user_image">
					<%= attachment_image_tag fish.user, :user_image, size: '45x45', fallback: "image5.JPG", class:'img-circle' %>
					<%= fish.user.name %>
				</div>
			<% end %>
			<div class="cards__contents">--釣果内容--
				<%= fish.fishing_contents %>
			</div>

		</div>
	<% end %>
</div>