<div class="under">釣果詳細画面</div>

<div class="row">
	<div class="user">
		<div class="user__image">
			<%= link_to user_path do %>
				<%= attachment_image_tag @fish.user, :user_image, size: '80x80', fallback: "image5.JPG", class:'img-circle' %>
			<% end %>
		</div>

		<div class="user__name">
			<%= link_to user_path, class: "Userlink" do %>
				<%= @fish.user.name %>
			<% end %>
		</div>

		<div class="user__button">
			<% if user_signed_in? && @fish.user == current_user %>
				<%= link_to "編集する", edit_fish_path, class: "btn btn-success" %>
				<%= link_to "削除する", fish_path(@fish.id), method: :delete, data:{confirm:"本当に消しますか？"}, class: "btn btn-danger" %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-lg-4 col-xs-12">
		<div class="fish-image">
			<%= attachment_image_tag @fish, :fish_image, fallback: "image5.JPG", class: "img-responsive" %>
		</div>
	</div>

	<div class="col-lg-4 col-xs-12">
		<div class="show-form">
			<div class="show-form__title">
				釣果タイトル
				<div class="show-form__title-contents">
					<%= @fish.fishing_title %>
				</div>
			</div>
			<div class="show-form__title">
				釣果日時
				<div class="show-form__title-contents">
					<%= @fish.fishing_date %>
				</div>
			</div>
			<div class="show-form__title">
				魚種
				<div class="show-form__title-contents">
					<%= @fish.fish_name %>
				</div>
			</div>
			<div class="show-form__title">
				釣果内容
				<div class="show-form__title-contents">
					<%= @fish.fishing_contents %>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-xs-12">
		<div class="show-form">
			<div class="show-form__title">
				サイズ
				<div class="show-form__title-contents">
					<%= @fish.fish_size %>cm
				</div>
			</div>
			<div class="show-form__title">
				重量
				<div class="show-form__title-contents">
					<%= @fish.fish_weight %>kg
				</div>
			</div>
			<div class="show-form__title">
				都道府県
				<div class="show-form__title-contents">
					<%= @fish.prefectures %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="back-button">
	<%= link_to "戻る", fishs_path, class: "btn btn-danger btn-lg" %>
</div>

<% if user_signed_in? %>
	<div class="row">

		<div class="comment-button">
			<div id="button1" class="btn btn-primary btn-lg">コメントする</div>
		</div>

		<div id="acMenu" >
			<div class="comment-form">
				<%= form_with model:[@fish, @fish_comment], data: {remote: true} do |f| %>
			    	<%= f.text_area :comment, size: '50x5', class: "form-control" %>
			    	<div class="comment-send-button">
			    		<%= f.submit '送信', class: "btn btn-success btn-lg" %>
			    	</div>

			    <% end %>
			</div>

		    <div class="comment_<%= @fish.id %>">
				<%= render 'comment', fish_comments: @fish.fish_comments %>
	    	</div>
		</div>
	</div>
<% end %>