<header>
  <nav class="main-nav">
    <div class="container">

      <ul class="main-nav__list">
        <li class="main-nav__logo">
          <div class="logo-img">
            <%= link_to root_path do %>
              <%= image_tag 'Anglers-logo.png', size: "250x120" %></div>
            <% end %>
        </li>
      </ul>

      <ul class="main-nav__list">

          <% if user_signed_in? %>

            <li class="main-nav__item">
              <i class="fas fa-home"></i>
              <%= link_to "ホーム", root_path, class: "main-nav__link" %>
            </li>
            <li class="main-nav__item">
              <i class="fas fa-users-cog"></i>
              <%= link_to "ユーザー情報編集", edit_user_path(current_user.id), class: "main-nav__link" %>
            </li>
            <li class="main-nav__item">
              <i class="fas fa-sign-out-alt"></i>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "main-nav__link" %>
            </li>

          <% else %>

            <li class="main-nav__item">
              <i class="fas fa-home"></i>
              <%= link_to "ホーム", root_path, class: "main-nav__link" %>
            </li>
            <li class="main-nav__item">
              <i class="fas fa-users"></i>
              <%= link_to "新規会員登録", new_user_registration_path, class: "main-nav__link" %>
            </li>
            <li class="main-nav__item">
              <i class="fas fa-sign-in-alt"></i>
              <%= link_to "ログイン", new_user_session_path, class: "main-nav__link" %>
            </li class="main-nav__item">
            <li class="main-nav__item">
              <i class="fas fa-user-check"></i>
              <%= link_to "ゲストログイン（閲覧用）", homes_guest_sign_in_path, method: :post, class: "main-nav__link" %>
            </li>

          <% end %>
      </ul>
    </div>
  </nav>
</header>