<header class="header">

    <div class="header__logo-img">
      <%= link_to root_path do %>
        <%= image_tag 'Anglers-logo.png', class: "img-responsive" %>
      <% end %>
    </div>

    <div class="HB-menu">

      <div class="HB-menu__caption">MENU</div>

      <div class="HB-menu__list">
          <% if user_signed_in? %>

            <div class="HB-menu__list">
              <%= link_to root_path, class: "header__link" do %>
                <i class="fas fa-home"> ホームに戻る</i>
              <% end %>
            </div>

            <div class="HB-menu__list">
              <%= link_to edit_user_path(current_user.id), class: "header__link" do %>
                  <i class="fas fa-users-cog"> ユーザー情報編集</i>
                <% end %>
            </div>

            <div class="HB-menu__list">
              <%= link_to inquiries_path, class: "header__link" do %>
                <i class="fas fa-envelope"> お問い合わせ</i>
              <% end %>
            </div>

            <div class="HB-menu__list">
              <%= link_to destroy_user_session_path, method: :delete, class: "header__link" do %>
                <i class="fas fa-sign-out-alt"> ログアウト</i>
              <% end %>
            </div>

          <% else %>

            <div class="HB-menu__list">
              <%= link_to root_path, class: "header__link" do %>
                <i class="fas fa-home"> ホームに戻る</i>
              <% end %>
            </div>

            <div class="HB-menu__list">
              <%= link_to new_user_registration_path, class: "header__link" do %>
                <i class="fas fa-users"> 新規会員登録</i>
              <% end %>
            </div>

            <div class="HB-menu__list">
              <%= link_to homes_guest_sign_in_path, method: :post, class: "header__link" do %>
                <i class="fas fa-user"> ゲストログイン</i>
              <% end %>
            </div>

            <div class="HB-menu__list">
              <%= link_to inquiries_path, class: "header__link" do %>
                <i class="fas fa-envelope"> お問い合わせ</i>
              <% end %>
            </div>

            <div class="HB-menu__list">
              <%= link_to new_user_session_path, class: "header__link" do %>
                <i class="fas fa-sign-in-alt"> ログイン</i>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>

    <div id="HB-icon">
      <a class="Menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
        <div id="letter">Menu</div>
      </a>
    </div>

    <div class="header__list">

      <% if user_signed_in? %>

        <div class="header__item">
          <%= link_to root_path, class: "header__link" do %>
            <i class="fas fa-home"> ホームに戻る</i>
          <% end %>
        </div>

        <div class="header__item">
          <%= link_to edit_user_path(current_user.id), class: "header__link" do %>
            <i class="fas fa-users-cog"> ユーザー情報編集</i>
          <% end %>
        </div>

        <div class="header__item">
          <%= link_to inquiries_path, class: "header__link" do %>
            <i class="fas fa-envelope"> お問い合わせ</i>
          <% end %>
        </div>

        <div class="header__item">
          <%= link_to destroy_user_session_path, method: :delete, class: "header__link" do %>
            <i class="fas fa-sign-out-alt"> ログアウト</i>
          <% end %>
        </div>

      <% else %>

        <div class="header__item">
          <%= link_to root_path, class: "header__link" do %>
            <i class="fas fa-home"> ホームに戻る test</i>
          <% end %>
        </div>

        <div class="header__item">
          <%= link_to new_user_registration_path, class: "header__link" do %>
            <i class="fas fa-users"> 新規会員登録</i>
          <% end %>
        </div>

        <div class="header__item">
          <%= link_to inquiries_path, class: "header__link" do %>
            <i class="fas fa-envelope"> お問い合わせ</i>
          <% end %>
        </div>

        <div class="header__item">
          <%= link_to homes_guest_sign_in_path, method: :post, class: "header__link" do %>
            <i class="fas fa-user"> ゲストログイン</i>
          <% end %>
        </div>

        <div class="header__item">
          <%= link_to new_user_session_path, class: "header__link" do %>
            <i class="fas fa-sign-in-alt"> ログイン</i>
          <% end %>
        </div>

      <% end %>
    </div>
</header>